<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="EAExport.XmiImport" switchValue="Information">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="EAExportLog.txt"/>
    </sharedListeners>

    <trace autoflush="true" useGlobalLock="false"/>
  </system.diagnostics>
</configuration>